.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 960px;
  padding: 30px;
  background: linear-gradient(104deg, #10195D 0.23%, #1967D2 100.23%);
}